<div class="row">

    <div class="col-md-12">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="navDrinksTab" data-toggle="tab" href="#drinksTab" role="tab">Товары</a>
                <a class="nav-item nav-link" id="navCoinsTab" data-toggle="tab" href="#coinsTab" role="tab">Монеты</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active p-3" id="drinksTab" role="tabpanel">
                <div class="loader" id="loader"></div>
                <div id="drinksList">

                    <button class="btn btn-dark" id="btnAddDrink">Добавить</button>
                    <button class="btn btn-light ml-3" id="btnImportDrinks">Импорт</button>

                    <table id="drinksDatatable" class="table table-striped table-hover table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Изображение</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="tab-pane fade p-3" id="coinsTab" role="tabpanel">
                <div class="loader loader-white" id="loader"></div>
                <div class="row coins-edit-list" id="coinsList"></div>
            </div>
        </div>

    </div>

</div>

<div class="modal" tabindex="-1" id="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryfileupload")
    <script src="@Url.Content("~/Scripts/Views/admin.js")"></script>
}
